
/* google font(fira sans) */
.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-style: normal;
  }







/* --------------------------------------------------------------------------------- */
/* resetting  margin,padding */
  *{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
  }

  
/* shared classes */
.hover-effect:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.card-hover:hover{
    background-color: transparent;
    transform: scale(1.05);
   border: 1px solid black;
}


.vision-icon{/*from vision part*/
    margin-bottom: 35px;
    background-color: transparent;
    
}

.vision-content-title{/*from vision part*/
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
font-weight: 700;
line-height: 24px;
margin-bottom: 15px;
background-color: transparent;

}

.vision-content-description{
    background-color: transparent;
    margin-bottom: 38px;

}

.vision-button{/*from vision part*/
    color: rgb(255, 255, 255);
    font-size: 16px;
font-weight: 600;
line-height: 19px;
padding: 11px 20px;
border-radius: 8px;
border: none;
transition:transform .2s ease-in-out ;
margin-bottom: 24px;
}


.recent-news-card-container{/* from recent news part */
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 80px;
 
 }
 
 .recent-news-content{/* from recent news part */
    max-width: 1280px;
    margin:0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 24px;
     background-color: 
     rgb(255, 255, 255);
     padding: 48px 48px;
     border-radius: 24px;
     
 }

.satellite-content{
    background-color: transparent;
    margin-top: 56px;
    margin-bottom: 56px;
}
.satellite-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
font-weight: 700;
line-height: 38px;
margin-bottom: 12px;
background-color: 
     rgb(255, 255, 255);
}

.aljazeera{
    background-color: rgb(255, 255, 255) ;
    margin-bottom: 12px;
    width: 134px;
    height: 40px;

}

.date-time{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: rgb(255, 255, 255) ;
margin-bottom: 12px;
}
.date{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
font-weight: 400;
line-height: 24px;
background-color: rgb(255, 255, 255) ;

}

.time{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
font-weight: 400;
line-height: 24px;
background-color: rgb(255, 255, 255) ;

}

.recent-description{
    background-color: rgb(255, 255, 255) ;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-bottom: 32px;
}

.recent{
    border-radius: 8px;

background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 22px;
width: 139px;
height: 48px;
}

/* taka buttons design */
input[type="radio"]
{
    display: none;
    
}

.donate-taka-button>label{
    padding: 40px 40px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
font-weight: 700;
line-height: 48px;
border-radius: 16px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
}


.donate-taka-button>label:hover{
    
    background-color: rgb(198, 228, 214);
    transform: scale(1.05);
   border: 1px solid black;

}
.taka:checked+.btn{
    background-color: rgb(198, 228, 214);
}


/* --------------------------------------------------------------------------------- */ 
/* nav styling */

.nav{
    display: flex;

    justify-content: space-between;
    max-width:  1280px;
    margin: 0 auto;
    margin-top: 31px;
    margin-bottom: 31px;
}
.bd2 {
    color: rgb(14, 14, 14);
    font-size: 32px;
font-weight: 700;
line-height: 38px;
}
.signin{
    color: rgb(0, 106, 80);
    font-size: 18px;
font-weight: 600;
line-height: 22px;
border-radius: 8px;
border: 1px solid rgb(0, 106, 80);
padding: 30px;
padding-top: 15px;
padding-bottom: 15px;
transition:transform .2s ease-in-out ;
}








/* ----------------------------------------------------------------------------------- */
/* banner section */
/* Requirement 01 */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 560px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
   

}

.img-hero{
    width: 474px;
    height: 400px;
    background-color:rgb(198, 228, 214) ;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 60px;
    margin-left: 64px;
}
.hero{
    margin-top: 117px;
    margin-bottom: 117px;
    margin-right: 64px;
    margin-left: 60px;
    background-color: transparent;
}

.hero-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
font-weight: 500;
line-height: 29px;
margin-bottom: 16px;
margin-top: 117px;
background-color: rgb(198, 228, 214);
}

.hero-description{
    color: rgb(14, 14, 14);
    font-size: 56px;
font-weight: 700;
line-height: 67px;
background-color: rgb(198, 228, 214);
margin-bottom: 24px;
margin-top: 16px;
padding-right: 0px;
}

.explore{
    border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 22px;
padding: 34px;
padding-top: 17px;
padding-bottom: 17px;
margin-top: 24px;
margin-bottom: 117px;
transition:transform .2s ease-in-out ;
border: none;
}







/* ----------------------------------------------------------------------------------- */
/* Requirement 2 */
/* The Vision of Future section */
/* main section */
.content1{ /*from vision part*/
    padding: 32px ;
    margin: 24px;
justify-content: space-between;
    border-radius: 16px;
    width: 410.67px ;
    max-height: 325px;
    transition:transform .2s ease-in-out ;
    background-color: rgba(84, 144, 245, 0.2);
 }
 .content2{ /*from vision part*/
    background-color: rgb(198, 228, 214);
    padding: 32px ;
    margin: 24px;
justify-content: space-between;
    border-radius: 16px;
    width: 410.67px ;
    max-height: 325px;
    transition:transform .2s ease-in-out ;
 }
 .content3{ /*from vision part*/
    background-color: rgb(247, 235, 207);
    padding: 32px ;
    margin: 24px;
justify-content: space-between;
    border-radius: 16px;
    width: 410.67px ;
    max-height: 325px;
    transition:transform .2s ease-in-out ;
 }
.vision-of-future-container{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 32px;
}

.vision-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
font-weight: 700;
line-height: 48px;
margin-bottom: 24px;

}

.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
font-weight: 400;
line-height: 24px;

}

.vision-contents-container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;

}

/* vision buttons */
.btn1{
    background-color: rgb(84, 144, 245);
}

.btn2{
    background-color: rgb(9, 161, 92);
}

.btn3{
    background-color: rgb(255, 194, 57);
}


/* ------------------------------------------------------------- */
/* Recent news section styling */
.recent-news{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 32px;
}
.recent-title{
    padding: 3px;
    margin-bottom: 24px;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.recent-news-description{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.s1{/* satellite image 1 */

    background-color: 
    rgb(255, 255, 255);
margin-right: 32px;
}

.s2{/* satellite image 2 */

    background-color: 
    rgb(255, 255, 255);
margin-left: 32px;
}
.s3{/* satellite image 3 */

    background-color: 
    rgb(255, 255, 255);
margin-right: 32px;
}


/* ------------------------------------------------------------------- */
 /* donate for bangladesh part */
 /* requirement 4 */
 .donate-container{
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
 }
.dcontainer{
    display: flex;
    justify-content: center;
}
.dcontainer2{
    display: flex;
    justify-content: center;
}

.donate-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;
}

.donate-description{
    text-align: center;
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
font-weight: 400;
line-height: 24px;
}


 .text-taka{
    max-width: 1352px;
    margin: 0 auto;
 }

 .donate-taka-button{
    max-width: 1391px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 32px;
    margin-bottom: 32px;
 }
 
 .txt-taka{
    max-width: 1352px;
    margin: 0 auto;
 }
 .txt-taka>input[type="text"]
 {
    display: block;
height: 64px;
width: 90%;
margin-top: 32px;
margin-bottom: 32px;
color: rgba(14, 14, 14, 0.3);
font-size: 20px;
font-weight: 400;
line-height: 24px;
background-color: rgb(255, 255, 255);
text-align: center; 
border: none;
box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}

.dnt{

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 471px;
    margin: 0 auto;
}
.donate-now{
    
   
    margin-bottom:80px ;
    color: rgb(255, 255, 255);
    font-size: 18px;
font-weight: 600;
line-height: 22px;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;

background: rgb(0, 106, 80);
height: 56px;

padding: 17px 34px;
}

/* ------------------------------------------------------------------------------------ */
/* quote section */
.quote {
    max-width: 1240px;
    margin: 0 auto;
    background-image: url(assets/quote-bg.png);
    background-position: left 24px top 24px;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255); 
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 48px 24px;
}

.yunus-quote{
    background-color: transparent;
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
font-weight: 400;
line-height: 24px;


}

.yunus-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
font-weight: 600;
line-height: 24px;
background-color: rgb(255, 255, 255);
margin-top: 12px;
margin-bottom: 4px;

}
.yunus-position{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
color: rgba(14, 14, 14, 0.6);
background-color: rgb(255, 255, 255);
}

/* -------------------------------------------------- */
/* challenge part */
/* subscribe section */


.subscribe{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 265px;
  text-align: center; 
margin: 0 auto;
padding: 80px 100px;
border-radius: 24px;
margin-bottom: 80px;
background: rgb(198, 228, 214);
overflow: hidden;

}

.s-newsletter{
    color: rgb(14, 14, 14);
    font-size: 40px;
font-weight: 700;
line-height: 48px;
background-color: transparent;
}

.s-description{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-top: 16px;
background-color: transparent;
margin-bottom: 24px;

}


.input-email{
    display: flex;
    background-color:  rgb(198, 228, 214);
    align-items: center;
justify-content: center;   
}


.i-email > input[type="text"] {

    width: 600px;
    height: 55px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: rgb(255, 255, 255);
    border: 0.5px solid rgba(14, 14, 14, 0.1);
    background-color: transparent;
}


.i-email > input::placeholder {
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 12px 40px;
  }
  


.subscribe-b{
    border-radius: 0px 8px 8px 0px;

background-color: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 22px;
padding: 17px 34px; 
height: 55px;
border: 1px solid rgba(14, 14, 14, 0.1);

}

.subscribe-b:hover{
        background-color: rgb(0, 0, 0);
        transform: scale(1.05);
        color: rgb(255, 255, 255);
        cursor: pointer;
    }


.promise{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 19px;
background-color:transparent;
margin-top: 25px;
}